.container-nosotros{
    display: grid;
    gap: 20px;
    grid-template-areas: 'header' 
                         'quienes-somos'
                         'imagen-nosotros'
                         'mision' 
                         'footer';               

}


