
  .bg-nav{
    background-color: black;
    }

    /*  ENLACES MODIFICADOS DE COLOR  */
    .navbar-nav a {
    color: #969799 }
    
    .navbar-brand{
    color: #FF64AA;
     img{
    width: 35px;
    height: 35px;
    margin-left: 10px;}
}
.nav-link:hover{
  color: white;
}
 // header nosotros 
 
.header-nosotros{
  grid-area: header;
}