.main-inicio{   display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(6,150px);

h1{ grid-column: 2/9;
    grid-row: 1;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    border-bottom: solid 2px #FF64AA;
    
}

img{   grid-column: 2/9;
    grid-row: 2;
    width: 900px;
    border-radius: 30px;

}
}