// medias query inicio


@media screen and (max-width: 480px ) {
    
   .main-inicio { 
    img{  
     width: 300px;
    padding: 20px;
    grid-column: 3/9;

   }
   h1{ font-size: 1rem;
    margin-top: 72px;
    padding: 20px;
    }
   }
    }


@media screen and ( min-width:481px)
   { .main-inicio{
     img{
        width: 400px;
        padding: 20px;
        grid-column: 3/9;
       }
        h1{
   
        font-size: 1.5rem;
        margin-top: 60px;
        padding: 20px;
       
       }
    } 
}
@media screen and (min-width:600px) {

      .main-inicio{
         img{
        width: 480px;
        padding: 20px;
        grid-column: 2/9;
       }
        h1{
   
        font-size: 1.5rem;
        margin-top: 60px;
        padding: 20px;
       
       }
    }
}

@media screen and (min-width: 768px) {

    .main-inicio{
         img{
        width: 800px;
        padding: 20px;
        grid-column: 3/9;}
         h1{
   
            font-size: 2rem 
}
}
}
@media screen and (min-width:1200px) {

    
.main-inicio{ 
    img{
    grid-column: 2/9;
    grid-row: 2;
    width: 900px;
    border-radius: 30px;
}
 h1{
    grid-column: 2/9;
    grid-row: 1;
    font-size: 3rem;
margin-top: 10px}
}
}

// Medias query remeras niño, dama, caballero

@media screen and (min-width:300px) {
    .remeras1{ display:block;   
     img { 
         padding: 30px;
        margin-block: 30px;}
    
}

}

    @media screen and (min-width:300px) {
        .remeras2 { display:block;
            img{
                 padding: 30px;
                margin-block: 30px; }
      }
    }

//medias query de nosotros 


@media screen and (min-width:600px){
    .container-nosotros{
      
        grid-template-areas: 'header header'
                              'quienes-somos imagen-nosotros'
                              'mision mision '
                              'footer footer';

.mision{ margin-left: 550px;}        
background-color: aqua;                 
}

}

@media screen and (min-width:900px) {
.container-nosotros{ 
 
    grid-template-areas:
     'header header header'
    'quienes-somos  quienes-somos imagen-nosotros'
    'mision  mision mision '
    'footer footer footer';
    
    .mision{ margin-left: 500px;}
    background-color: red;
}
    
}